@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
body{
    background-image: linear-gradient(to bottom right, #18f553, #e03030);
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    min-height: 100vh;
}
.div-center{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
p{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
header{
    font-size: 1.5rem;
    text-shadow: 2px 2px black;
    min-height: 20vh;
    
}
input, button{
    padding: 0.5rem;
    font-size: 1.5rem;
    border-bottom: 4rem;
    
    margin-bottom: 3rem;
        
}
button{
    color: white;
    background: black;
    cursor: pointer;
    transition: all 0.3 ease;
}

button:hover{
    background: purple;
    color:black;
}
.hints span {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  }
/*meant to be pictures attached to the play pause stop buttons*/
.play {
background-image: url(play.svg);
}
.play.played {
background-image: url(play1.svg);
}
#pause {
background-image: url(pause.svg);
}
#pause.paused {
background-image: url(pause1.svg);
}
#stop {
background-image: url(stop.svg);
}
#stop.stopped {
background-image: url(stop1.svg);
}
